@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Italiana&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
}

header {
  background: #ffffff;
  width: 100vw;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  width: 14vw;
  margin-left: 2rem;
  color: #0530af;
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav {
  display: flex;
  width: 100vw;
  /* background: #000; */
  padding: 0.8rem;
  align-items: center;
  gap: 20rem;
  border-bottom: 1px solid rgb(228, 226, 226);
}

.other-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: -10rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/*style for input */
.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: none;
  width: 27vw;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(191, 190, 190);
}

.search-input input {
  width: 20vw;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
}

.search-input input::placeholder {
  text-transform: capitalize;
  text-align: center;
  color: rgb(171, 171, 171);
}

/*for the nav-links*/
.nav-links select {
  padding: 0.4vw;
  background: none;
  border: none;
}
.cart-icon {
  display: flex;
  align-items: center;
  gap: 0.3vw;
}
.login-btn {
  background: rgb(65, 114, 219);
  padding: 0.5rem;
  width: 7vw;
  height: 6vh;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 0.9rem;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
}
.signup-btn {
  padding: 0.5rem;
  border: 1px solid rgb(188, 186, 186);
  width: 7vw;
  height: 6vh;
  border-radius: 5px;
  color: #000000;
  font-size: 0.9rem;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
}

/*navigation link with toggle function*/
.navigation-links {
  padding: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 4px;
}

.navigation-links ul {
  text-align: center;
}

.navigation-links ul a {
  padding: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(162, 162, 162);
}

.mobile-nav {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background: linear-gradient(
      rgba(229, 239, 255, 0.844),
      rgba(229, 239, 255, 0.876)
    ),
    url(../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

.title span:nth-child(1) {
  color: #0530af;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}

.title span:nth-child(2) {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  width: 45rem;
  text-align: center;
}

.about-detail {
  margin-top: -3rem;
  display: flex;
  padding: 5rem;
  gap: 5rem;
}

.detail-image img {
  width: 37rem;
  height: 30rem;
}
.detail-writeup {
  margin-top: 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detail-writeup span:nth-child(1) {
  text-transform: capitalize;
  text-align: justify;
}
.bullet-point {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bullet-point div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}
.about-summary {
  text-align: justify;
}

/*section 2 */
.section2 {
  display: flex;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.section2-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

.section2-detail span:nth-child(1) {
  font-size: 1.2rem;
  color: #0530af;
  text-transform: uppercase;
  font-weight: bold;
}

.section2-detail span:nth-child(2) {
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.section2-detail span:nth-child(3) {
  font-size: 1.1rem;
  color: #000;
  width: 34rem;
}
.section2-detail span:nth-child(4) {
  font-size: 1.1rem;
  color: #000;
  text-align: justify;
  width: 34rem;
}

.section2-images {
  display: flex;
  align-items: center;
}
.section2-images img:nth-child(2) {
  width: 20rem;
  height: 25rem;
}
.section2-images img {
  width: 20rem;
  height: 20rem;
}

/*section2 */
.section3,
.section4 {
  display: flex;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  gap: 3rem;
}

.section3-detail,
.section4-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  margin-top: 3rem;
}

.section3-detail span:nth-child(1),
.section4-detail span:nth-child(1) {
  font-size: 1.2rem;
  color: #0530af;
  text-transform: uppercase;
  font-weight: bold;
}

.section3-detail span:nth-child(2),
.section4-detail span:nth-child(2) {
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.section3-detail span:nth-child(3),
.section4-detail span:nth-child(3) {
  font-size: 1.1rem;
  color: #000;
  width: 34rem;
}
.section3-detail span:nth-child(4) {
  font-size: 1.1rem;
  color: #0530af;
  text-align: justify;
  width: 34rem;
  text-transform: capitalize;
  font-weight: bold;
}

.section3-images,
.section4-images {
  width: 50%;
}
.section3-images img,
.section4-images img {
  width: 38rem;
  height: 24rem;
}

/*section5*/
.section5 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.section5-detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.section5-detail span:nth-child(1) {
  text-align: center;
  color: #0530af;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}
.section5-detail span:nth-child(2) {
  text-align: center;
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
}

.section5-cards {
  display: grid;
  margin-top: 2rem;
  row-gap: 1.2rem;
  column-gap: rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.section5-cards img {
  width: 17rem;
}

/*footer styles */
footer {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top:5rem;
  gap: 10rem;
  border-bottom: 3px solid #c7c6c6;
}
.left-footer-container {
  display: flex;
  gap: 4rem;
}
.left-container1 {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: left;
}
.left-container1 span:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  color: #0530af;
  margin-top: 3rem;
}
.left-container1 span:nth-child(2) {
  font-size: 1.1rem;
  width: 17rem;
  text-align: left;
}
.left-container2 {
  display: flex;
  flex-direction: column;
}
.left-container2 span:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
}

.left-container2-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.left-container2-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

/*for the right footer*/
.right-footer-container {
  display: flex;
  flex-direction: row;
}

.right-footer-container1 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.right-footer-container1 span:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.right-footer-container1 span:nth-child(2),
.right-footer-container1 span:nth-child(3) {
  font-size: 1rem;
  text-transform: capitalize;
}

.right-footer-container1 span:nth-child(4) {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-transform: capitalize;
  gap: 1rem;
  width: 15rem;
  margin-left: 20px;
}
.right-footer-container1-images {
  display: flex;
  gap: 2rem;
}

.right-footer-container2 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.right-footer-container2 span:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.right-footer-container2 span:nth-child(2) {
  font-size: 1rem;
  text-transform: capitalize;
}
.footer-input input {
  width: 15rem;
  padding: 10px;
  background: #e2e1e1;
  border: none;
}
.footer-input button {
  width: 10rem;
  background: #4d71df;
  color: #ebebeb;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.page-author {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: #373737;
}

/*laptop responsive */
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  header {
    overflow: hidden;
  }

  .other-links {
    margin-left: -15rem;
    width: 100vw;
  }

  .search-input {
    width: 28vw;
  }

  .search-input input {
    font-size: 0.8rem;
    margin-left: -2rem;
    width: 25vw;
  }

  .nav-links {
    margin-left: -10px;
    width: 20vw;
  }

  /* .nav-links select{
  /* display: none; */
  */ .nav-links button {
    width: 10vw;
  }

  .navigation-links {
    width: 100%;
  }
}

/* tablet design with toogle*/
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }
  header {
    overflow: hidden;
    width: 100vw;
    text-align: center;
  }
  .nav,
  .navigation-links {
    display: none;
  }
  .mobile-nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .mobile-logo {
    width: 18vw;
    font-size: 1.5rem;
    color: #0530af;
    font-weight: bolder;
  }
  .mobile-other-links {
    display: flex;
    gap: 2rem;
  }

  .mobile-search-input {
    background: #f4f4f4;
    border-radius: 5px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
  }

  .mobile-search-input input {
    width: 34vw;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    white-space: nowrap;
  }

  .burger {
    position: relative;
  }

  .tab {
    width: 2.4rem;
    height: 0.36rem;
    background: #585858;
    margin: 5px;
    border-radius: 40px;
  }

  .mobile-links {
    width: 50vw;
    height: 80vh;
    padding: 1rem;
    position: absolute;
    background: #0530af;
    top: 11%;
    left: -30rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .first-links {
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    gap: 1.2rem;
  }

  .secondLinks ul {
    display: flex;
    flex-direction: column;
    width: 20rem;
  }

  .main-container {
    width: 100vw;
    flex-direction: column;
  }

  .main-content {
    background: linear-gradient(rgba(0, 0, 0, 0.646), rgba(0, 0, 0, 0.316)),
      url(../images/food-flierImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
  }

  .main-content h2 {
    font-size: 1.6rem;
    width: 70vw;
    color: #ebebeb;
  }

  .main-content p {
    font-size: 1rem;
    width: 70vw;
    color: #ebebeb;
  }

  .main-content button {
    width: 30vw;
    font-size: 1.2rem;
  }

  .main-container-image {
    display: none;
  }

  .card {
    margin-top: -12rem;
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .card1 {
    width: 17rem;
    background: #f2f2f2;
    border-radius: 5px;
  }
  .products {
    margin-top: -18rem;
  }
  .products-list {
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .product1 {
    width: 15rem;
    height: 15rem;
    background: #ffffff;
    padding: 0.4rem;
  }

  .product-image img {
    width: 13rem;
  }
  .services-list {
    flex-wrap: wrap;
  }

  .service {
    width: 17rem;
    height: 16rem;
  }
  .service-image img {
    width: 10rem;
  }
  .rice-flier {
    height: 10rem;
  }
  .food-flier {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .food1 {
    height: 12rem;
  }

  .food1 span:first-child,
  .food2 span:first-child {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #f4f4f4;
  }

  .food1 span:nth-child(2),
  .food2 span:nth-child(2) {
    font-size: 1rem;
    width: 20rem;
    font-weight: bolder;
    color: #f4f4f4;
  }

  .food1 button,
  .food2 button {
    width: 8rem;
    padding: 0.4rem;
    border-radius: 5px;
    color: #0530af;
    font-size: 1rem;
    border: none;
    text-transform: capitalize;
    white-space: no-wrap;
  }

  .fresh-product {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }
  .fresh-list {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.2rem;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 16rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }

  .fresh-title span:first-child {
    font-size: 1rem;
  }

  .fresh-title span:nth-child(2) {
    font-size: 1rem;
    color: grey;
  }

  .star {
    margin-top: 0.5rem;
  }
  .star img {
    width: 9rem;
  }
}

@media screen and (max-width: 569px) {
  .products {
    margin-top: -8rem;
  }

  .rice-flier {
    background-size: contain;
    width: 100%;
  }

  .food-flier {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .food1,
  .food2 {
    height: 12rem;
    width: 100%;
  }

  .fresh-list {
    padding: 3rem;
    background: #ebebeb;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.2rem;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 26rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }

  .product1 {
    width: 25rem;
    height: 15rem;
    background: #ffffff;
    padding: 0.4rem;
  }

  .service {
    width: 27rem;
    height: 20rem;
  }

  .service-image img {
    width: 13rem;
  }
}

@media screen and (max-width: 425px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
  header {
    overflow: hidden;
    width: 100vw;
    text-align: center;
  }

  .mobile-logo img {
    width: 8rem;
  }
  .mobile-other-links {
    display: flex;
    gap: 2rem;
  }

  .mobile-search-input {
    background: #f4f4f4;
    border-radius: 5px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
  }

  .mobile-search-input input {
    width: 34vw;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    white-space: nowrap;
  }

  .burger {
    position: relative;
  }

  .tab {
    width: 2rem;
    height: 0.36rem;
    background: #585858;
    margin: 5px;
    border-radius: 40px;
  }

  .main-container {
    width: 100vw;
    flex-direction: column;
  }

  .main-content h2 {
    font-size: 1.7rem;
    width: 80vw;
  }

  .main-content p {
    font-size: 1rem;
    width: 70vw;
    color: #ebebeb;
  }

  .main-content button {
    width: 28vw;
    font-size: 1rem;
  }

  .card {
    margin-top: -12rem;
  }

  .card1 {
    width: 100%;
    background: #f2f2f2;
    border-radius: 5px;
  }
  .services-list {
    flex-wrap: wrap;
  }

  .service {
    width: 22rem;
    height: 19rem;
  }
  .service-image img {
    width: 13rem;
  }

  .fresh-product {
    font-size: 0.7rem;
  }
  .fresh-list {
    grid-template-columns: 1fr;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 16rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }
}
@media screen and (max-width: 412px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
  .main-container {
    height: 30rem;
  }
  .main-content {
    height: 27rem;
  }

  .main-content h2,
  p,
  button {
    margin-left: -3rem;
  }

  .card {
    margin-top: -21rem;
  }
  .products {
    margin-top: -1rem;
  }
  .service {
    width: 22rem;
    height: 19rem;
  }
  .service-image img {
    width: 13rem;
  }

  .fresh-product {
    font-size: 0.7rem;
  }
  .fresh-list {
    grid-template-columns: 1fr;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 16rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }
}
