@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Italiana&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
}

header {
  background: #ffffff;
  width: 100vw;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  width: 14vw;
  margin-left: 2rem;
}

.nav {
  display: flex;
  width: 100vw;
  /* background: #000; */
  padding: 0.8rem;
  align-items: center;
  gap: 20rem;
  border-bottom: 1px solid rgb(228, 226, 226);
}

.other-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: -10rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/*style for input */
.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: none;
  width: 27vw;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(191, 190, 190);
}

.search-input input {
  width: 20vw;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
}

.search-input input::placeholder {
  text-transform: capitalize;
  text-align: center;
  color: rgb(171, 171, 171);
}

/*for the nav-links*/
.nav-links select {
  padding: 0.4vw;
  background: none;
  border: none;
}
.cart-icon {
  display: flex;
  align-items: center;
  gap: 0.3vw;
}
.login-btn {
  background: rgb(65, 114, 219);
  padding: 0.5rem;
  width: 7vw;
  height: 6vh;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 0.9rem;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
}
.signup-btn {
  padding: 0.5rem;
  border: 1px solid rgb(188, 186, 186);
  width: 7vw;
  height: 6vh;
  border-radius: 5px;
  color: #000000;
  font-size: 0.9rem;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
}

/*navigation link with toggle function*/
.navigation-links {
  padding: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 4px;
}

.navigation-links ul {
  text-align: center;
}

.navigation-links ul a {
  padding: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(162, 162, 162);
}

.mobile-nav {
  display: none;
}

/*hero section */
.main-container {
  display: flex;
  height: 85vh;
  min-height: 100%;
  background: linear-gradient(
      rgba(229, 239, 255, 0.844),
      rgba(229, 239, 255, 0.876)
    ),
    url(../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content {
  padding-top: 7rem;
  padding-left: 5rem;
  width: 50vw;
  text-transform: capitalize;
}
.main-content h2 {
  font-size: 3.8vw;
  width: 50vw;
  font-weight: bolder;
}

.main-content h2 span {
  color: rgba(37, 110, 228, 1);
  font-style: italic;
}

.main-content p {
  width: 45vw;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.main-content button {
  width: 12vw;
  height: 3.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.2rem;
  text-transform: capitalize;
  padding: 0.5rem;
  border: none;
  background: rgba(37, 110, 228, 1);
  color: #fefefe;
  border-radius: 5px;
  white-space: nowrap;
}
.main-container-image {
  width: 50vw;
}
.main-container-image img {
  width: 102%;
}

/*card-section */
.card-section {
  width: 100vw;
  height: 60vh;
  background: rgb(247, 247, 247);
}
.card {
  width: 85vw;
  height: 15vh;
  background: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem;
  box-shadow: 0px 2px 13px 0px rgba(177, 172, 172, 0.75);
  overflow: hidden;
}

.card1:last-child {
  border-right: none !important;
}

.card1 {
  padding: 1.2rem;
  display: flex;
  gap: 0.9rem;
  align-items: center;
  text-transform: capitalize;
  border-right: 1px solid rgb(217, 217, 217);
}

.card1 div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
/*for the product list and services list */

.products {
  width: 100vw;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  margin-top: -14rem;
  background: rgb(247, 247, 247);
}

.products-list {
  width: 90vw;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

.product1 {
  background: #ffffff;
  padding: 0.6rem;
  width: 20vw;
  height: 40vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product1:hover,
.service:hover {
  box-shadow: 0px 2px 13px 0px rgba(175, 174, 174, 0.75);
}

.product-image img,
.service-image img {
  width: 19vw;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.product-detail-title {
  text-transform: capitalize;
  font-weight: bolder;
  align-self: flex-start;
}

.product-price {
  align-self: flex-start;
  display: flex;
  gap: 5rem;
}

.product-price span:first-child {
  color: #393939;
}

.product-price span:first-child strong {
  color: #000000;
}

.product-price span:last-child {
  color: rgba(37, 110, 228, 1);
}

/*for service list*/
.services {
  width: 100vw;
  height: auto;
  padding: 3rem;
  text-align: center;
  text-transform: capitalize;
  background: rgb(248, 247, 247);
}

.service {
  background: #fbfbfb;
  padding: 0.6rem;
  width: 20rem;
  height: 21rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.services-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.service-detail-title {
  color: rgb(35, 79, 174);
  align-self: flex-start;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 1.2rem;
}
.service-tag {
  align-self: flex-start;
}

/*the flier section */
.fliers {
  /* background: #f3f2f2; */
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0.1rem;
  background: rgb(248, 247, 247);
}

.rice-flier {
  background: url(../images/riceFlier.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.food-flier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 1rem;
  gap: 0.5rem;
  background: #f9f9f9;
}

.food1 {
  width: 45%;
  height: auto;
  background: url(../images/food-flierImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.food2 {
  width: 45%;
  height: auto;
  background: url(../images/pharma.png);
  background-color: #fbfbfb;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.food1 span:first-child,
.food2 span:first-child {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #f4f4f4;
}

.food1 span:nth-child(2),
.food2 span:nth-child(2) {
  font-size: 1.5rem;
  width: 20rem;
  font-weight: bolder;
  color: #f4f4f4;
}

.food1 button,
.food2 button {
  width: 14rem;
  padding: 0.7rem;
  border-radius: 5px;
  color: #0530af;
  font-size: 1.2rem;
  border: none;
  text-transform: capitalize;
  white-space: no-wrap;
}

/*card list component */
.fresh-product {
  text-align: center;
  background: rgb(250, 250, 250);
}
.fresh-list {
  padding: 3rem;
  background: #ebebeb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.fresh-card {
  background: #ffffff;
  padding: 0.6rem;
  width: 16rem;
  height: 45vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.fresh-image img {
  width: 15rem;
}
.fresh-card:hover {
  box-shadow: 0px 2px 13px 0px rgba(175, 174, 174, 0.75);
}
.fresh-detail {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.fresh-title {
  display: flex;
  justify-content: space-between;
}

.fresh-title span:first-child {
  color: #000000;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.2rem;
}

.fresh-title span:nth-child(2) {
  color: #000000;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.2rem;
  color: grey;
}

.price-list {
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  margin-top: 0.4rem;
}

.main-price {
  color: rgb(36, 82, 220);
  font-weight: bolder;
}
.slashed-price {
  color: rgb(156, 156, 156);
  text-decoration: line-through;
}
.star {
  margin-top: 0.5rem;
}

/*laptop responsive */
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  header {
    overflow: hidden;
  }

  .other-links {
    margin-left: -15rem;
    width: 100vw;
  }

  .search-input {
    width: 28vw;
  }

  .search-input input {
    font-size: 0.8rem;
    margin-left: -2rem;
    width: 25vw;
  }

  .nav-links {
    margin-left: -10px;
    width: 20vw;
  }

  /* .nav-links select{
  /* display: none; */
  */ .nav-links button {
    width: 10vw;
  }

  .navigation-links {
    width: 100%;
  }
}

/* tablet design with toogle*/
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }
  header {
    overflow: hidden;
    width: 100vw;
    text-align: center;
  }
  .nav,
  .navigation-links {
    display: none;
  }
  .mobile-nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .mobile-logo img {
    width: 18vw;
  }
  .mobile-other-links {
    display: flex;
    gap: 2rem;
  }

  .mobile-search-input {
    background: #f4f4f4;
    border-radius: 5px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
  }

  .mobile-search-input input {
    width: 34vw;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    white-space: nowrap;
  }

  .burger {
    position: relative;
  }

  .tab {
    width: 2.4rem;
    height: 0.36rem;
    background: #585858;
    margin: 5px;
    border-radius: 40px;
  }

  .mobile-links {
    width: 50vw;
    height: 80vh;
    padding: 1rem;
    position: absolute;
    background: #0530af;
    top: 11%;
    left: -30rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .first-links {
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    gap: 1.2rem;
  }

  .secondLinks ul {
    display: flex;
    flex-direction: column;
    width: 20rem;
  }

  .main-container {
    width: 100vw;
    flex-direction: column;
  }

  .main-content {
    background: linear-gradient(rgba(0, 0, 0, 0.646), rgba(0, 0, 0, 0.316)),
      url(../images/food-flierImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
  }

  .main-content h2 {
    font-size: 1.6rem;
    width: 70vw;
    color: #ebebeb;
  }

  .main-content p {
    font-size: 1rem;
    width: 70vw;
    color: #ebebeb;
  }

  .main-content button {
    width: 30vw;
    font-size: 1.2rem;
  }

  .main-container-image {
    display: none;
  }

  .card {
    margin-top: -12rem;
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .card1 {
    width: 17rem;
    background: #f2f2f2;
    border-radius: 5px;
  }
  .products {
    margin-top: -18rem;
  }
  .products-list {
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .product1 {
    width: 15rem;
    height: 15rem;
    background: #ffffff;
    padding: 0.4rem;
  }

  .product-image img {
    width: 13rem;
  }
  .services-list {
    flex-wrap: wrap;
  }

  .service {
    width: 17rem;
    height: 16rem;
  }
  .service-image img {
    width: 10rem;
  }
  .rice-flier {
    height: 10rem;
  }
  .food-flier {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .food1 {
    height: 12rem;
  }

  .food1 span:first-child,
  .food2 span:first-child {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #f4f4f4;
  }

  .food1 span:nth-child(2),
  .food2 span:nth-child(2) {
    font-size: 1rem;
    width: 20rem;
    font-weight: bolder;
    color: #f4f4f4;
  }

  .food1 button,
  .food2 button {
    width: 8rem;
    padding: 0.4rem;
    border-radius: 5px;
    color: #0530af;
    font-size: 1rem;
    border: none;
    text-transform: capitalize;
    white-space: no-wrap;
  }

  .fresh-product {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }
  .fresh-list {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.2rem;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 16rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }

  .fresh-title span:first-child {
    font-size: 1rem;
  }

  .fresh-title span:nth-child(2) {
    font-size: 1rem;
    color: grey;
  }

  .star {
    margin-top: 0.5rem;
  }
  .star img {
    width: 9rem;
  }
}

@media screen and (max-width: 569px) {
  .products {
    margin-top: -8rem;
  }

  .rice-flier {
    background-size: contain;
    width: 100%;
  }

  .food-flier {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .food1,
  .food2 {
    height: 12rem;
    width: 100%;
  }

  .fresh-list {
    padding: 3rem;
    background: #ebebeb;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.2rem;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 26rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }

  .product1 {
    width: 25rem;
    height: 15rem;
    background: #ffffff;
    padding: 0.4rem;
  }

  .service {
    width: 27rem;
    height: 20rem;
  }

  .service-image img {
    width: 13rem;
  }
}

@media screen and (max-width: 425px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
  header {
    overflow: hidden;
    width: 100vw;
    text-align: center;
  }

  .mobile-logo img {
    width: 8rem;
  }
  .mobile-other-links {
    display: flex;
    gap: 2rem;
  }

  .mobile-search-input {
    background: #f4f4f4;
    border-radius: 5px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
  }

  .mobile-search-input input {
    width: 34vw;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    white-space: nowrap;
  }

  .burger {
    position: relative;
  }

  .tab {
    width: 2rem;
    height: 0.36rem;
    background: #585858;
    margin: 5px;
    border-radius: 40px;
  }

  .main-container {
    width: 100vw;
    flex-direction: column;
  }

  .main-content h2 {
    font-size: 1.7rem;
    width: 80vw;
  }

  .main-content p {
    font-size: 1rem;
    width: 70vw;
    color: #ebebeb;
  }

  .main-content button {
    width: 28vw;
    font-size: 1rem;
  }

  .card {
    margin-top: -12rem;
  }

  .card1 {
    width: 100%;
    background: #f2f2f2;
    border-radius: 5px;
  }
  .services-list {
    flex-wrap: wrap;
  }

  .service {
    width: 22rem;
    height: 19rem;
  }
  .service-image img {
    width: 13rem;
  }

  .fresh-product {
    font-size: 0.7rem;
  }
  .fresh-list {
    grid-template-columns: 1fr;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 16rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }
}
@media screen and (max-width: 412px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
  .main-container {
    height: 30rem;
  }
  .main-content {
    height: 27rem;
  }

  .main-content h2,
  p,
  button {
    margin-left: -3rem;
  }

  .card {
    margin-top: -21rem;
  }
  .products {
    margin-top: -1rem;
  }
  .service {
    width: 22rem;
    height: 19rem;
  }
  .service-image img {
    width: 13rem;
  }

  .fresh-product {
    font-size: 0.7rem;
  }
  .fresh-list {
    grid-template-columns: 1fr;
  }
  .fresh-card {
    padding: 0.1rem;
    width: 16rem;
    height: 15rem;
    font-size: 0.2rem;
  }
  .fresh-image img {
    width: 12rem;
  }
}
